---
import i18n, { t, changeLanguage } from 'i18next'
import { localizePath } from 'astro-i18next'
import { Image } from '@astrojs/image/components'
import Base from '@app/layouts/Base.astro'
import Article from '@app/components/Article.svelte'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import ArticleShowcase from '@app/components/ArticleShowcase.svelte'
import ArticleContainer from '@app/components/ArticleContainer.svelte'
import Button from '@app/components/Button.svelte'
import SectionCenteredFooter from '@app/components/SectionCenteredFooter.astro'
import { getArticleSlug, getArticles } from '@app/utils'

changeLanguage('en')

const lng = i18n.language
const indieStories = await getArticles('indieStories', lng)
const currentFocus = indieStories[0]
const recentStories = indieStories.slice(1, 4)
const shouldShowMoreBtn = indieStories.length > 4
const shouldShowPreviousSection = recentStories.length > 0
---

<Base title="" description="">
  <Hero
    title={[t('indieStories:heroTitle.base'), t('indieStories:heroTitle.highlight')]}
    tagLines={t('indieStories:heroTagLines', { returnObjects: true })}
  >
    <Image
      class="hidden sm:block w-1/2 h-auto mx-auto"
      src="/images/computer.png"
      alt={t('indieStories:heroImageAlt')}
      width={1109}
      height={698}
    />
  </Hero>
  {
    currentFocus && (
      <Section title={t('indieStories:currentFocusSection.title')}>
        <ArticleShowcase
          title={currentFocus.data.title}
          description={currentFocus.data.description}
          date={currentFocus.data.publishingDate}
          href={localizePath(`/indie-stories/${getArticleSlug(currentFocus.slug)}`)}
        >
          <Image
            class="rounded-lg w-full mb-5 md:mb-0 md:max-w-[40%] flex-shrink-0"
            src={currentFocus.data.thumbnailImageUrl}
            alt={currentFocus.data.thumbnailImageAlt}
            width={1080}
            height={1920}
            aspectRatio="9:16"
          />
        </ArticleShowcase>
      </Section>
    )
  }
  {
    shouldShowPreviousSection && (
      <Section title={t('indieStories:previousStoriesSection.title')}>
        <ArticleContainer class="mb-10">
          {recentStories.map(({ data, slug }) => (
            <Article
              href={localizePath(`/indie-stories/${getArticleSlug(slug)}`)}
              title={data.title}
              date={data.publishingDate}
            >
              <Image
                slot="image"
                class="rounded-lg"
                src={data.thumbnailImageUrl}
                alt={data.thumbnailImageAlt}
                width={1080}
                height={1920}
                aspectRatio="9:16"
              />
            </Article>
          ))}
        </ArticleContainer>

        {shouldShowMoreBtn && (
          <SectionCenteredFooter>
            <Button label={t('indieStories:previousStoriesSection.seeMore')} />
          </SectionCenteredFooter>
        )}
      </Section>
    )
  }
</Base>
