---
import i18n, { t, changeLanguage } from 'i18next'
import { localizePath } from 'astro-i18next'
import { Image } from '@astrojs/image/components'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import Typography from '@app/components/Typography.svelte'
import ArticleContainer from '@app/components/ArticleContainer.svelte'
import Article from '@app/components/Article.svelte'
import Button from '@app/components/Button.svelte'
import { getArticleSlug, getArticles } from '@app/utils'

changeLanguage('en')

const THRESHOLD = 3
const lng = i18n.language
const blogArticles = await getArticles('blog', lng)
const lastBlogArticles = blogArticles.slice(0, THRESHOLD)
const indieStories = await getArticles('indieStories', lng)
const lastIndieStories = indieStories.slice(0, THRESHOLD)
const shouldShowIndieStoriesMoreBtn = lastIndieStories.length > 3
const shouldShowBlogMoreBtn = blogArticles.length > 3
---

<Base title="" description="">
  <Hero
    title={[t('home:heroTitle.base'), t('home:heroTitle.highlight')]}
    imageSrc="/images/keyboard.png"
    imageAlt={t('home:heroImageAlt')}
    tagLines={[
      t('home:heroTagLines.0'),
      t('home:heroTagLines.1'),
      t('home:heroTagLines.2'),
      t('home:heroTagLines.3'),
    ]}
    arrowLabel={t('home:heroArrowLabel')}
  >
    <Image
      class="hidden sm:block w-1/2 h-auto mx-auto"
      src="/images/keyboard.png"
      alt={t('home:heroImageAlt')}
      width={1100}
      height={530}
    />
  </Hero>

  <Section title="My latest video">
    <iframe
      class="w-full aspect-video"
      src="https://player.twitch.tv?channel=llcoolchris_&parent=localhost&parent=christopher2k.dev"
      allowfullscreen
    >
    </iframe>
  </Section>

  <Section title="My indie stories">
    <Typography class="mb-10"
      >Let me tell you stories about me, on the path of building my own products...</Typography
    >
    <ArticleContainer class="mb-10">
      {
        lastIndieStories.map(({ slug, data }) => (
          <Article
            href={localizePath(`/indie-stories/${getArticleSlug(slug)}`)}
            title={data.title}
            date={data.publishingDate}
          >
            <Image
              slot="image"
              class="rounded-lg"
              src={data.thumbnailImageUrl}
              alt={data.thumbnailImageAlt}
              width={1080}
              height={1920}
              aspectRatio="9:16"
            />
          </Article>
        ))
      }
    </ArticleContainer>
    {
      shouldShowIndieStoriesMoreBtn && (
        <Button
          link={{ href: localizePath('/indie-stories') }}
          label="See more about indie stuff"
        />
      )
    }
  </Section>

  <Section title="Recent blog posts">
    <Typography class="mb-10"
      >As an engineer, it’s important to share and classify all the events, all the
      research you’re going through in your day job. You might learn one or two things in
      those articles.</Typography
    >
    <ArticleContainer class="mb-10">
      {
        lastBlogArticles.map(({ slug, data }) => (
          <Article
            href={localizePath(`/blog/${getArticleSlug(slug)}`)}
            title={data.title}
            date={data.publishingDate}
            imageSrc={data.thumbnailImageUrl}
            imageAlt={data.thumbnailImageAlt}
          >
            <Image
              slot="image"
              class="rounded-lg"
              src={data.thumbnailImageUrl}
              alt={data.thumbnailImageAlt}
              width={1080}
              height={1920}
              aspectRatio="9:16"
            />
          </Article>
        ))
      }
    </ArticleContainer>
    {
      shouldShowBlogMoreBtn && (
        <Button link={{ href: localizePath('/blog') }} label="See more blog posts" />
      )
    }
  </Section>
</Base>
